{% extends "mobileadmin/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <!-- Manage events -->
    <h1>Events</h1>
    <ul>
        <li><a href="{% url 'mobileadmin-addevent' %}">Add event</a></li>
        <li><a href="{% url 'mobileadmin-updateevent' %}">Update event</a></li>
        <li><a href="{% url 'mobileadmin-deleteevent' %}">Delete event</a></li>
    </ul> 

    <!-- Manage shop products -->
    <h1>Shop</h1>
    <ul>
        <li><a href="{% url 'mobileadmin-addproduct' %}">Add product</a></li>
        <li><a href="{% url 'mobileadmin-updateproduct' %}">Update product</a></li>
        <li><a href="{% url 'mobileadmin-deleteproduct' %}">Delete product</a></li>
    </ul> 

    <!-- Manage items -->
    <h1>Items</h1>
    <ul>
        <li><a href="{% url 'mobileadmin-additem' %}">Add item</a></li>
        <li><a href="{% url 'mobileadmin-updateitem' %}">Update item</a></li>
        <li><a href="{% url 'mobileadmin-deleteitem' %}">Delete item</a></li>
    </ul> 
</div>

{% endblock content %}