{% extends "mobileadmin/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Delete</h1>
    <br>
    <p>Search for the event by title:</p>
</div>

<div class="container">
<form action="#" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field}}
        {% endfor %}

    <button type="submit" class="btn btn-primary" name="search">Search</button>
    {% if warningflag %}
    <p>Event not found. Please make sure you have written the correct title.</p>
    {% endif %}
</form>
</div>

<br>
<br>

  <div class="container">
  {% if dispflag %}
  <form action="#" method="post">
    {% csrf_token %}
      <center><img src="{{ imagepath }}" height="600"></img></center>
      <br>
      <br>
      <h4>{{ title }}</h3>     
      <h5>{{ date }}</h3>  
      <h5>{{ desc }}</h3>
        <br>
        <button type="submit" class="btn btn-danger" name="delete">Delete</button>
  {% endif %}
</form>
  </div>

{% endblock content %}