{% extends "mobileadmin/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Update</h1>
    <br>
    <p>Search for the event by title:</p>
</div>

<div class="container">
<form action="#" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{field}}
        {% endfor %}

    <button type="submit" class="btn btn-primary" name="search">Search</button>
    {% if warningflag %}
    <p>Event not found. Please make sure you have written the correct title.</p>
    {% endif %}

</form>

<br>
{% if searchvisibility %}
<p>Choose which field to edit:</p>
<div class="btn-group">

    <button type="submit" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="update">
      Update
    </button>
    <form action="#" method="post">
      <div class="dropdown-menu">
          {% csrf_token %}
          <button class="dropdown-item" href="#" type="submit" name="title">Title</a>
          <button class="dropdown-item" href="#" type="submit" name="date">Date</a>
          <button class="dropdown-item" href="#" type="submit" name="description"> Description</a>
          <button class="dropdown-item" href="#" type="submit" name="image" >Image</a>
      </div>
  </form>

</div>
{% endif %}
</div>

<br>
<br>

  <div class="container">
  {% if dispflag %}
      <center><img src="{{ imagepath }}" height="600"></img></center>
      <br>
      <br>
      <h4>{{ title }}</h3>   
      <h5>{{ date }}</h3>   
      <h5>{{ desc }}</h3>
  {% endif %}
  </div>

  <div class="container">
    {% if imageflag %}
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="imageinput" id="imageinput">
        <br>
        <br>
        <h4>{{ title }}</h3>
        <br>  
        <h5>{{ date }}</h3>
        <br>
        <h5>{{ desc }}</h3>
        <br>  
        <button type="submit" class="btn btn-primary" name="imagesubmit">Make Changes</button>
    </form>
    {% endif %}    
  </div>

  <div class="container">
  {% if titleflag %}
    <form action="#" method="post">
    <center><img src="{{ imagepath }}" height="600"></img></center>
    <br>
      {% csrf_token %}
        <input type="text" class="form-control" id="titleinput" name="titleinput" aria-describedby="titleinputHelp" value="{{ title }}">
        <small id="titleinputHelp" class="form-text text-muted">Kindly update the title and press make changes.</small>   
    <br>  
    <h5>{{ date }}</h3>
    <br>
    <h5>{{ desc }}</h3>
    <br>  
    <button type="submit" class="btn btn-primary" name="titlesubmit">Make Changes</button>
    </form>
  {% endif %}
  </div>

  <div class="container">
    {% if dateflag %}
      <form action="#" method="post">
      <center><img src="{{ imagepath }}" height="600"></img></center>
      <br>
      <h4>{{ title }}</h3>
      <br>
        {% csrf_token %}
          <input type="text" class="form-control" id="dateinput" name="dateinput" aria-describedby="dateinputHelp" value="{{ date }}">
          <small id="dateinputHelp" class="form-text text-muted">Kindly update the date and press make changes.</small>   
      <br>  
      <br>
      <h5>{{ desc }}</h3>
      <br>  
      <button type="submit" class="btn btn-primary" name="datesubmit">Make Changes</button>
      </form>
    {% endif %}
    </div>

  <div class="container">
  {% if descflag %}
      <form action="#" method="post">
      <center><img src="{{ imagepath }}" height="600"></img></center>
      <br>
      <h4>{{ title }}</h4>
      <br>
      <h5>{{ date }}</h3>
      <br>
        {% csrf_token %}
          <textarea class="form-control" id="descinput" name="descinput" rows="20">{{ desc }}</textarea>
          <small id="descinputHelp" class="form-text text-muted">Kindly update the description and press make changes.</small>
      <br>  
      <button type="submit" class="btn btn-primary" name="descsubmit">Make Changes</button>
      </form> 
  {% endif %}
  </div>

{% endblock content %}